.posting {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid #efefef;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 694px;
}

.posting div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
}

.avatar {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postContextContainer {
    margin-top: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    border: 3px solid #efefef;
    border-radius: 20px;
    height: 35px;
    width: 100%;
    margin-left: 20px;
}

.postContextContainer input {
    border: none;
    height: 25px;
    margin-left: 20px;
    width: 100%;
    margin-right: 20px;
}

.postingButton {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    height: 40px;
    width: 100px;
    border: none;
    font-size: 15px;
    background-color: #ffa544;
    border-radius: 30px;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    margin-left: 400px;
}

.postingButton:hover {
    background-color: white;
    color: #ffa544;
    border: 3px solid #ffa544;
}

.icon:hover {
    color: #ffa544;
}

.postImage {
    position: flex;
}